# Rust compiled files
/target/
**/*.rs.bk

# Cargo package files
Cargo.lock

# Backup files
*.swp
*.swo
*.tmp

# IDE and editor files
.idea/
.vscode/
*.iml

# Byebug command history
.byebug_history

# MacOS files
.DS_Store

# Windows files
Thumbs.db

# Other
*.log
/res